<div class="parallax-container">
  <div class="parallax"><%= image_tag("1.jpg", style:
    "display: block; transform: translate3d(-50%, 328px, 0px);") %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header"><%= t ".fooddrink" %></h2>
    <p class="grey-text text-darken-3 lighten-3"><%= t ".text" %></p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax-container">
    <div class="parallax"><%= image_tag("2.jpg", style: "display: block;
      transform: translate3d(-50%, 306px, 0px);") %>
    </div>
  </div>
</div>
