
ul#nav-mobile li a{
  font-size: 18px;
}

ul#nav-mobile li span{
  font-size: 18px;
}

div.card-content label{
  font-size: 18px;
}
div.card-content input{
  font-size: 18px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #dccbcb;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 2px 32px 2px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav ul li {
  padding: 2px 32px 2px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 20px;
}

.show-mySide{
  width: 250px;
}

.show-myMain{
  margin-right: 250px;
}

.show-myBody{
  background-color: rgba(230,224,224,0.4);
}

.hide-mySide{
  width: 0;
}

.hide-myMain{
  margin-right: 0;
}
.hide-myBody{
  background-color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.delete{
  width: 35px;
  height: 25px;
}

ul#nav-mobile li a{
  font-size: 18px;
}

ul#nav-mobile li span{
  font-size: 18px;
}

div.card-content label{
  font-size: 18px;
}

div.card-content input{
  font-size: 18px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #dccbcb;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 2px 32px 2px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav ul li {
  padding: 2px 32px 2px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 20px;
}

.show-mySide{
  width: 250px;
}

.show-myMain{
  margin-right: 250px;
}

.show-myBody{
  background-color: rgba(230,224,224,0.4);
}

.hide-mySide{
  width: 0;
}

.hide-myMain{
  margin-right: 0;
}
.hide-myBody{
  background-color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#size-search{
  width: 30%;
}
